<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start nav-background" id="sidenavAccordion">


    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i-feather name="menu"></i-feather></button>
    <h2 style="color: rgb(0, 98, 255);font-weight: bold;margin-left: 5px;margin-right: 5px;"><a [routerLink]="['/home/dashboard']">Control de registro</a></h2>
    <ul class="navbar-nav align-items-center ms-auto">
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" placement="left" ngbTooltip="Perfil" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="assets/img/illustrations/profiles/profile-3.png" /></a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" src="assets/img/illustrations/profiles/profile-3.png" />
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">Christian Alcantara</div>
                        <div class="dropdown-user-details-email">Christian_pria@hotmail.com</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" [routerLink]="['/home/users/settings']">
                    <i-feather name="settings"></i-feather>
                    Cuenta
                </a>
                <a class="dropdown-item" href="javascript:void(0);" [routerLink]="['/login']">
                    <i-feather name="log-out"></i-feather>Cerrar sesión
                </a>
            </div>
        </li>
    </ul>

</nav>

<div id="layoutSidenav">

    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">

            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">

                    <div class="sidenav-menu-heading">Talleres disponibles</div>

                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
                        <div class="nav-link-icon"><i class="far fa-grin-beam-sweat" style="color:cornflowerblue"></i></div>
                        Culturales
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseAdmin" data-parent="#accordionSidenav">

                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" [routerLink]="['/home/taller']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Artes literarias
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Pintura y dibujo
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Teatro en atril
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Danza folclórica
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Salsa básica
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Bachata
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                HIP-HOP
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Zancos
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Canto
                            </a>

                            <a class="nav-link" [routerLink]="['/home/clients','list']" routerLinkActive="active">
                                <div class="nav-link-icon"></div>
                                Rondalla
                            </a>


                        </nav>
                    </div>

                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#sales" aria-expanded="false" aria-controls="collapseAdmin">
                        <div class="nav-link-icon"><i class="fas fa-futbol" style="color: black;"></i></div>
                        Deportivos
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="sales" data-parent="#accordionSidenav">

                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">

                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsStarterTemplates" aria-expanded="false" aria-controls="collapseLayoutsStarterTemplates">
                                <div class="nav-link-icon"><i style="color: red;" data-feather="rotate-cw"></i></div>
                                Futbol
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayoutsStarterTemplates">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" [routerLink]="['/home/clients','historial-returns']" routerLinkActive="active">
                                        <div class="nav-link-icon"><i data-feather="list"></i></div>
                                        Soccer Varonil
                                    </a>

                                    <a class="nav-link" [routerLink]="['/home/clients','new-return']" routerLinkActive="active">
                                        <div class="nav-link-icon"><i style="color:rgb(0, 98, 255)" data-feather="plus"></i></div>
                                        Soccer Femenil
                                    </a>

                                    <a class="nav-link" [routerLink]="['/home/clients','new-return']" routerLinkActive="active">
                                        <div class="nav-link-icon"><i style="color:rgb(0, 98, 255)" data-feather="plus"></i></div>
                                        Futbol 7
                                    </a>
                                </nav>
                            </div>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Handball
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Volibol
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Basquetbol
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Beisbol
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Softbol
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Atletismo
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Crossfit
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Insanity
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Jodo
                            </a>

                            <a class="nav-link" [routerLink]="['/home/sales','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:lightsalmon;" data-feather="archive"></i></div>
                                Karate Do
                            </a>

                        </nav>
                    </div>

                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseprod" aria-expanded="false" aria-controls="collapseprod">
                        <div class="nav-link-icon"><i class="fas fa-heartbeat" style="color: red;"></i></div>
                        Salud
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseprod" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" [routerLink]="['/home/products','new-product']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:rgb(0, 98, 255)" data-feather="plus-circle"></i></div>
                                Nútrete y muévete
                            </a>

                            <a class="nav-link" [routerLink]="['/home/products','new-product']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:rgb(0, 98, 255)" data-feather="plus-circle"></i></div>
                                Prevención de abuso y uso de drogas
                            </a>

                            <a class="nav-link" [routerLink]="['/home/products','new-product']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:rgb(0, 98, 255)" data-feather="plus-circle"></i></div>
                                ABC de los primeros auxilios
                            </a>

                            <a class="nav-link" [routerLink]="['/home/products','new-product']" routerLinkActive="active">
                                <div class="nav-link-icon"><i style="color:rgb(0, 98, 255)" data-feather="plus-circle"></i></div>
                                Las 5 heridas de la infancia
                            </a>

                        </nav>
                    </div>

                    <div class="sidenav-menu-heading">Administración</div>
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUs" aria-expanded="false" aria-controls="collapseUs">
                        <div class="nav-link-icon">
                            <i-feather name="users" style="color: blue;"></i-feather>
                        </div>
                        Usuarios
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseUs" data-parent="#accordionSidenav">

                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" [routerLink]="['/home/users','new-user']" routerLinkActive="active">
                                <div class="nav-link-icon">
                                    <i-feather name="user-plus"></i-feather>
                                </div>
                                Agregar usuario
                            </a>

                            <a class="nav-link" [routerLink]="['/home/users','list-users']" routerLinkActive="active">
                                <div class="nav-link-icon">
                                    <i-feather name="clipboard"></i-feather>
                                </div>
                                Lista
                            </a>

                        </nav>
                    </div>

                </div>

            </div>
            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Inició sesión como:</div>
                    <div class="sidenav-footer-title">Christian Alcantara</div>
                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>

</div>